<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pencitraan.com - Situs No.1 Tentang Pencitraan - ARB</title>
    	   <link rel="stylesheet" href="/css/responsive.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

     <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
        <link rel="stylesheet" href="/css/stylesignup.css" />
             
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
     
    <script src="/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
  
      <div class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
            <img src="/img/logo.png" class="logo"/>
            </a>
          
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
              <li><a href="/Jokowi">Jokowi</a>
              </li>
                <li ><a href="/Prabowo">Prabowo</a>
                             </li>
              <li><a href="/Arb">ARB</a></li>             
              <li><a href="/Winht">WIN-HT</a></li>
               <li><a href="/Gita">Gita Wirjawan</a></li>
               <li><a href="/Dahlan">Dahlan Iskan</a></li>
             </ul>

             
           <ul class="nav navbar-nav navbar-right">

    <li>
        <a href="#" class="signup">
        Daftar
        </a>
    </li>           <li>
              <a  href="/users/sign_in"class="login">Masuk</a>
       </li>  
	</div>
            </div>
          </li>
        </ul>
        
          </div><!--/.nav-collapse -->
         
         <div class="backgrounds">
         <div class="jarakatas">
  <div class="row ">
    <div class="large-6 columns">
    <div class="daftarsekarangbox">
    <% if flash[:alert] %>
        <div class="alert-box"><%= flash[:alert] %></div><br><br>
    <% end %>
    <h1 class="daftarsekarang" align="left">Daftar Sekarang</h1>
     <h5 class="daftarsekarang" align="left" style="margin-top:-50px;">di situs no.1 tentang Pencitraan</h1>
       <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
         <%= devise_error_messages! %>
            <div>
                <input type="email" placeholder="Email" name="user[email]">
                <span class="spanpassword">
               <input type="password" placeholder="Password" name="user[password]" style="width: 150px;">
                 <input type="password" placeholder="Confirmation" name="user[password_confirmation]" style="width: 150px;position: relative; top: -53px; left: 158px;">
                 <input type="text" style="position: relative; top: -60px;width:308px;" name="user[username]" placeholder="Username"></input>
                 </span>
            </div>

            <fieldset class="radio-list">
            <div class="pilihavatarmu">
            Pilih avatarmu
            </div>

            <% for i in 1..7 %>
            <div class="avatar-choose">
                <input type="radio" name="user[avatar]" value="/img/avatar<%= i %>.png" /> <img src="/img/avatar<%= i %>.png" />
            </div>
            <% end %>
        </fieldset>

        <button class="signups">Daftar</button>

       <% end %>

    </div>
    </div>
    <div class="large-6 columns" style="background:white;">
        <center>
 <img src="/img/pencitraancapbig.png">
        </center>
       </div>
  </div>
    <footer class="row">
    <div class="large-12 columns">
      <div class="row">
      <center>
        <div class="large-12 columns">
          <p class="copyright">© 2014 | Pencitraan.com</p>
        </div>
        </center>
      </div>
    </div>
  </footer>
  </div>
  
  
         </div>



    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
       <script src="/js/bootstrap.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

     <script type="text/javascript">
    $(function(){
  var onClass = "on";
  var showClass = "show";
  
  $("input").bind("checkval",function(){
    var label = $(this).prev("label");
    if(this.value !== ""){
      label.addClass(showClass);
    } else {
      label.removeClass(showClass);
    }
  }).on("keyup",function(){
    $(this).trigger("checkval");
  }).on("focus",function(){
    $(this).prev("label").addClass(onClass);
  }).on("blur",function(){
      $(this).prev("label").removeClass(onClass);
  }).trigger("checkval");
});

    </script>
    
    <script type="text/javascript">
    $(function() {
  // Setup drop down menu
  $('.dropdown-toggle').dropdown();
 
  // Fix input element click problem
  $('.dropdown input, .dropdown label').click(function(e) {
    e.stopPropagation();
  });
});
    </script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

